.badge {
  display: inline-flex;
  align-items: center;
}

.badge-info-icon {
  font-size: $icon-size-base * .875;
  margin-left: $spacer * .25;
  cursor: pointer;
}

.badge-solid {
  padding: $badge-padding-y $spacer * .5;
  border-radius: $border-radius-default;
}

.badge-solid-sm {
  padding: $badge-padding-sm-y $spacer * .5;
}

$overlay-badge-padding-y: $spacer / 16;

.overlay-badge {
  padding: $overlay-badge-padding-y $spacer * .25;
  border-radius: 10px;
  justify-content: center;
}

.overlay-badge-medium {
  padding: $overlay-badge-padding-y $spacer * .375;
}

.overlay-badge-container {
  position: relative;

  .overlay-badge {
    position: absolute;
    left: 100%;
    top: 0;
    margin-top: -$spacer / 4;
    margin-left: -$spacer * .625;
  }

  .overlay-badges-inset {
    position: absolute;
    top: $spacer * .75;
    left: $spacer * 1.125;
    display: flex;
    align-items: center;

    $inset-badge-width: $spacer * 2.5;

    .overlay-badge + .overlay-badge {
      margin-left: $inset-badge-width - 10px;
    }
  }

  // Sinlge badge
  .overlay-badge-inset {
    top: $spacer * 0.75;
    left: $spacer * 1.125;
  }

  &.overlay-badge-container-hidden {
    .overlay-badge {
      display: none;
    }
  }
}
