@font-face {
  font-family: 'hevo-pack';
  src: url('../assets/fonts/hevo-pack.eot?8pmad7');
  src: url('../assets/fonts/hevo-pack.eot?8pmad7#iefix')
      format('embedded-opentype'),
    url('../assets/fonts/hevo-pack.ttf?8pmad7') format('truetype'),
    url('../assets/fonts/hevo-pack.woff?8pmad7') format('woff'),
    url('../assets/fonts/hevo-pack.svg?8pmad7#hevo-pack') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^='hevo-'],
[class*=' hevo-'] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'hevo-pack' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.hevo-bookmarks:before {
  content: '\e9a7';
}
.hevo-bookmarked:before {
  content: '\e9a4';
}
.hevo-ssh:before {
  content: '\e9a3';
}
.hevo-phone:before {
  content: '\e9a1';
}
.hevo-authentication:before {
  content: '\e99b';
}
.hevo-account-access:before {
  content: '\e99c';
}
.hevo-real-time:before {
  content: '\e9a0';
}
.hevo-ctrl:before {
  content: '\e999';
}
.hevo-human-chat:before {
  content: '\e99a';
}
.hevo-time-filled:before {
  content: '\e998';
}
.hevo-activate:before {
  content: '\e995';
}
.hevo-target:before {
  content: '\e996';
}
.hevo-warning:before {
  content: '\e986';
}
.hevo-extract:before {
  content: '\e933';
}
.hevo-alerts-on:before {
  content: '\e972';
}
.hevo-alerts-off:before {
  content: '\e980';
}
.hevo-alerts:before {
  content: '\e985';
}
.hevo-view-password:before {
  content: '\e993';
}
.hevo-no-preview:before {
  content: '\e994';
}
.hevo-graph:before {
  content: '\e925';
}
.hevo-run-now:before {
  content: '\e932';
}
.hevo-query-history:before {
  content: '\e94f';
}
.hevo-cmd:before {
  content: '\e970';
}
.hevo-navigation-indicator:before {
  content: '\e991';
}
.hevo-skip-failed:before {
  content: '\e992';
}
.hevo-bot:before {
  content: '\e990';
}
.hevo-github:before {
  content: '\e983';
}
.hevo-left-circle-arrow:before {
  content: '\e988';
}
.hevo-collapse:before {
  content: '\e98f';
}
.hevo-small-screen:before {
  content: '\e98d';
}
.hevo-oplog:before {
  content: '\e98c';
}
.hevo-no-destinations:before {
  content: '\e98b';
}
.hevo-overview:before {
  content: '\e976';
}
.hevo-change-stream:before {
  content: '\e987';
}
.hevo-checked-tick:before {
  content: '\e989';
}
.hevo-child:before {
  content: '\e98a';
}
.hevo-demo:before {
  content: '\e98e';
}
.hevo-no-sync:before {
  content: '\e997';
}
.hevo-source-files:before {
  content: '\e99d';
}
.hevo-speed:before {
  content: '\e99e';
}
.hevo-syncing:before {
  content: '\e99f';
}
.hevo-auto-schema:before {
  content: '\e9a2';
}
.hevo-documentation:before {
  content: '\e9a5';
}
.hevo-no-cards:before {
  content: '\e9a6';
}
.hevo-esc:before {
  content: '\e9a8';
}
.hevo-slash:before {
  content: '\e9aa';
}
.hevo-tab:before {
  content: '\e9ac';
}
.hevo-right-circle-arrow:before {
  content: '\e9b1';
}
.hevo-right:before {
  content: '\e9b2';
}
.hevo-new:before {
  content: '\e968';
}
.hevo-move-row:before {
  content: '\e97d';
}
.hevo-popup:before {
  content: '\e97e';
}
.hevo-model-workflow:before {
  content: '\e97f';
}
.hevo-save:before {
  content: '\e981';
}
.hevo-expand:before {
  content: '\e982';
}
.hevo-no-table:before {
  content: '\e984';
}
.hevo-curl:before {
  content: '\e977';
}
.hevo-js:before {
  content: '\e978';
}
.hevo-python:before {
  content: '\e979';
}
.hevo-ruby:before {
  content: '\e97a';
}
.hevo-slack:before {
  content: '\e97b';
}
.hevo-enter:before {
  content: '\e97c';
}
.hevo-options:before {
  content: '\e973';
}
.hevo-shift:before {
  content: '\e974';
}
.hevo-broken:before {
  content: '\e975';
}
.hevo-activity-log:before {
  content: '\e901';
}
.hevo-add-user:before {
  content: '\e971';
}
.hevo-attach:before {
  content: '\e96f';
}
.hevo-back:before {
  content: '\e96e';
}
.hevo-billing-details:before {
  content: '\e96d';
}
.hevo-binlog:before {
  content: '\e96c';
}
.hevo-bookmark:before {
  content: '\e96b';
}
.hevo-cards-payment:before {
  content: '\e96a';
}
.hevo-check-circle:before {
  content: '\e969';
}
.hevo-close:before {
  content: '\e966';
}
.hevo-cloudwatch:before {
  content: '\e967';
}
.hevo-copy:before {
  content: '\e965';
}
.hevo-coupon:before {
  content: '\e964';
}
.hevo-custom-sql:before {
  content: '\e963';
}
.hevo-darkmode:before {
  content: '\e962';
}
.hevo-database:before {
  content: '\e961';
}
.hevo-date:before {
  content: '\e960';
}
.hevo-date-time:before {
  content: '\e95f';
}
.hevo-delete:before {
  content: '\e95e';
}
.hevo-destinations:before {
  content: '\e95d';
}
.hevo-docs:before {
  content: '\e95c';
}
.hevo-download:before {
  content: '\e95b';
}
.hevo-dropdown-arrow:before {
  content: '\e95a';
}
.hevo-edit:before {
  content: '\e959';
}
.hevo-email:before {
  content: '\e958';
}
.hevo-email-warning:before {
  content: '\e957';
}
.hevo-error-filled:before {
  content: '\e956';
}
.hevo-explore:before {
  content: '\e93d';
}
.hevo-export:before {
  content: '\e955';
}
.hevo-feedback:before {
  content: '\e954';
}
.hevo-filter:before {
  content: '\e952';
}
.hevo-folder:before {
  content: '\e951';
}
.hevo-full-screen:before {
  content: '\e950';
}
.hevo-help:before {
  content: '\e94e';
}
.hevo-info:before {
  content: '\e94d';
}
.hevo-jobs:before {
  content: '\e94c';
}
.hevo-key:before {
  content: '\e94b';
}
.hevo-keyboard:before {
  content: '\e94a';
}
.hevo-left-arrow:before {
  content: '\e949';
}
.hevo-load-status:before {
  content: '\e948';
}
.hevo-loading:before {
  content: '\e947';
}
.hevo-logout:before {
  content: '\e946';
}
.hevo-minus:before {
  content: '\e945';
}
.hevo-models:before {
  content: '\e941';
}
.hevo-more-horizontal:before {
  content: '\e943';
}
.hevo-more-vertical:before {
  content: '\e944';
}
.hevo-new-window:before {
  content: '\e942';
}
.hevo-no-internet:before {
  content: '\e940';
}
.hevo-order:before {
  content: '\e927';
}
.hevo-password:before {
  content: '\e93f';
}
.hevo-pause:before {
  content: '\e93b';
}
.hevo-payment-history:before {
  content: '\e93c';
}
.hevo-payments:before {
  content: '\e93a';
}
.hevo-pipeline-connection:before {
  content: '\e938';
}
.hevo-pipeline:before {
  content: '\e939';
}
.hevo-plan:before {
  content: '\e937';
}
.hevo-play:before {
  content: '\e936';
}
.hevo-plus:before {
  content: '\e935';
}
.hevo-preferences:before {
  content: '\e934';
}
.hevo-query-history11:before {
  content: '\e931';
}
.hevo-history:before {
  content: '\e930';
}
.hevo-quote:before {
  content: '\e92f';
}
.hevo-recovery-code:before {
  content: '\e92e';
}
.hevo-redo:before {
  content: '\e92a';
}
.hevo-refresh:before {
  content: '\e92b';
}
.hevo-replay-queue:before {
  content: '\e929';
}
.hevo-reset-zoom:before {
  content: '\e92c';
}
.hevo-resize:before {
  content: '\e928';
}
.hevo-restart:before {
  content: '\e92d';
}
.hevo-right-arrow:before {
  content: '\e926';
}
.hevo-sample-event:before {
  content: '\e924';
}
.hevo-schedule-call:before {
  content: '\e921';
}
.hevo-schema:before {
  content: '\e922';
}
.hevo-schema-mapper:before {
  content: '\e920';
}
.hevo-search:before {
  content: '\e923';
}
.hevo-security-alert:before {
  content: '\e91e';
}
.hevo-security-check:before {
  content: '\e91f';
}
.hevo-settings:before {
  content: '\e91c';
}
.hevo-sheets:before {
  content: '\e91d';
}
.hevo-skip:before {
  content: '\e91a';
}
.hevo-slider:before {
  content: '\e91b';
}
.hevo-solid-dropdown:before {
  content: '\e916';
}
.hevo-solid-right:before {
  content: '\e917';
}
.hevo-solid-left:before {
  content: '\e918';
}
.hevo-solid-up:before {
  content: '\e919';
}
.hevo-sort:before {
  content: '\e915';
}
.hevo-file-ingestion:before {
  content: '\e953';
}
.hevo-source-query:before {
  content: '\e914';
}
.hevo-star:before {
  content: '\e913';
}
.hevo-stop:before {
  content: '\e912';
}
.hevo-stop-min:before {
  content: '\e911';
}
.hevo-support:before {
  content: '\e910';
}
.hevo-table:before {
  content: '\e90f';
}
.hevo-team:before {
  content: '\e90e';
}
.hevo-testing:before {
  content: '\e90d';
}
.hevo-tfa:before {
  content: '\e93e';
}
.hevo-time:before {
  content: '\e90c';
}
.hevo-time-left:before {
  content: '\e90b';
}
.hevo-timezone:before {
  content: '\e90a';
}
.hevo-top:before {
  content: '\e900';
}
.hevo-transformation:before {
  content: '\e909';
}
.hevo-undo:before {
  content: '\e907';
}
.hevo-up-arrow:before {
  content: '\e906';
}
.hevo-update-disable:before {
  content: '\e904';
}
.hevo-bi-tools:before {
  content: '\e903';
}
.hevo-update-enable:before {
  content: '\e905';
}
.hevo-user:before {
  content: '\e908';
}
.hevo-workflow:before {
  content: '\e902';
}
