.text-primary {
  color: $primary;
}

.text-accent {
  color: $accent;
}

.text-success {
  color: $success;
}

.text-warning {
  color: $warning;
}

.text-deferred {
  color: $deferred;
}

.text-error {
  color: $error !important;
}

.text-info {
  color: $info;
}

.text-body {
  color: $text-primary;
}

.text-secondary {
  color: $text-secondary;
}

.text-light {
  color: $light-text;
}
