@import 'typography-utils';
@import '../select-node-theme';

@mixin typography-core($config) {
  .text-display-4 {
    @include typography-level-to-styles($config, display-4);
  }
  .text-display-3 {
    @include typography-level-to-styles($config, display-3);
  }
  .text-display-2 {
    @include typography-level-to-styles($config, display-2);
  }
  .text-display-1 {
    @include typography-level-to-styles($config, display-1);
  }
  .text-headline-2 {
    @include typography-level-to-styles($config, headline-2);
  }
  .text-headline-1 {
    @include typography-level-to-styles($config, headline-1);
  }
  .text-title {
    @include typography-level-to-styles($config, title);
  }
  .text-subheading-3 {
    @include typography-level-to-styles($config, subheading-3);
  }
  .text-subheading-2 {
    @include typography-level-to-styles($config, subheading-2);
  }
  .text-subheading-1 {
    @include typography-level-to-styles($config, subheading-1);
  }
  .text-body-4 {
    @include typography-level-to-styles($config, body-4);
  }
  .text-body-3 {
    @include typography-level-to-styles($config, body-3);
  }
  .text-body-2 {
    @include typography-level-to-styles($config, body-2);
  }
  .text-body-1 {
    @include typography-level-to-styles($config, body-1);
  }
  .text-caption-4 {
    @include typography-level-to-styles($config, caption-4);
  }
  .text-caption-3 {
    @include typography-level-to-styles($config, caption-3);
  }
  .text-caption-2 {
    @include typography-level-to-styles($config, caption-2);
  }
  .text-caption-1 {
    @include typography-level-to-styles($config, caption-1);
  }
  button.text-link {
    @include clear-btn-style();
    @include typography-level-to-styles($config, body-4);
  }
  .text-link {
    @include typography-level-to-styles($config, body-4);
  }
  .text-link.text-link-lg {
    @include typography-level-to-styles($config, subheading-3);
  }
  .text-link.text-link-sm {
    @include typography-level-to-styles($config, caption-4);
  }

  body {
    @include typography-level-to-styles($config, body-1);
  }

  @include select-node-typography($config);
}
