.MuiTypography-body2 {
  font-size: 16px;
}

.MuiSvgIcon-root.MuiStepIcon-root {
  width: 32px;
  height: 32px;
  .MuiStepIcon-text {
    font-size: 12px;
  }
}

.MuiTab-wrapper {
  font-size: 16px;
  align-items: flex-start;
}